/* Reset */
*::before,
*,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
}

/* Fonts */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.125em;
}

ul,
li,
p,
a,
span {
    font-size: 1em;
}

/* Layout */
.wte-page-container {
    width: 100%;
    max-width: 1024px;
    padding: 0 25px;
}

/* Header */
.wte-header {
    width: 100%;
    height: 75px;
    position: relative;
    z-index: 50;
    background-color: rgba(0, 0, 0, 1);
}

.wte-header > .wte-page-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.wte-title-container {
    padding: 15px 0;
    text-align: right;
}

.wte-title {
    line-height: 1;
    color: #fff;
}

.wte-location {
    font-size: 1.125em;
    line-height: 1;
    color: #666;
}

/* Navigation */
.wte-navigation {
    height: 100%;
}

.wte-nav-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    line-height: 75px;
}

.wte-nav-list-item {
    padding: 0 20px;
    position: relative;
    color: #fff;
    cursor: pointer;
}

.wte-nav-list-item + .wte-nav-list-item {
    margin-left: 25px;
}

.wte-nav-list-link {
    padding: 12px 20px;
    color: #fff;
    text-decoration: none;
}

.wte-nav-sublist {
    width: auto;
    max-width: 250px;
    padding: 20px;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;
    list-style: none;
    line-height: 1;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
}

.wte-nav-list-item:hover > .wte-nav-sublist {
    display: block;
}

.wte-nav-sublist-item {
    white-space: nowrap;
}

.wte-nav-sublist-item + .wte-nav-sublist-item {
    margin-top: 15px;
}

.wte-nav-sublist-link {
    color: #fff;
    text-decoration: none;
}


dl {
    margin: 40px;
    text-align: center;
}

dl.show-all {
    text-align: left;
    -moz-column-width: 390px;
    -moz-column-gap: 20px;
    -webkit-column-width: 390px;
    -webkit-column-gap: 20px;
    column-width: 390px;
    column-gap: 20px;
}

dt {
    font-weight: bold;
    display: none;
    white-space: nowrap;
}

dl.show-all dt {
    display: block;
}

button {
    background: white;
    border: 0;
    width: auto;
    padding: 20px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
    display: inline;
}

.buttons {
    border-top: 1px dashed black;
    margin: 10px 0 0;
}

#next {
    float: left;
}

#all {
    float: right;
}
    